@media screen and (min-width: 375px) {
    .cards {
        display: flex;
        flex-direction: row;
        margin: 20vh 30vh 5vh;

        .card {
            &__body {
                margin-block: 1.5rem 5rem;
            }
        }
    }
}